.time-container{
    position: fixed;
    z-index: 2;
    bottom: 0;
    background-color: white;
    transition: 0.5s;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #828282;
  stroke-opacity: 0.8;
  stroke-width: 10px;
}

.track-inset {
  stroke: transparent;
  stroke-width: 1px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: pointer;
}

.handle {
  fill: #000;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

.ticks {
	font-size: 18px;
	font-weight: bold;
}

.clockBackground{
	fill: #e5dacd;
	opacity: 0.8;
	z-index: -1;
	box-shadow: 5px 10px #888888;
}

.clockSlice {
    cursor: pointer;
}

.clockSlice .main-arc {
/*     stroke: #000; */
/*     stroke-width: 1px; */
}

.clockSlice .hidden-arc {
    fill: none;
}

.clockSlice text {
	font-size: 12px;
	text-anchor: middle;
	pointer-events: none;
	dominant-baseline: middle;
	fill: black;
}

/*-----------------------------------------*/
/* Style for the sector selector menu */

.sectbtn{
	width: 40px;
	height: 40px;
}

.sectbtn circle{
	fill: white;
}

.sectbtn text{
	text-anchor: middle;
	font-family: Helvetica;
	font-size: 14px;
}
